<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lectura API JSON
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="tarjeta" *ngFor="let post of arrayPosts">
    <p>Id: {{post.id}}</p>
    <p>UserId: {{post.userId}}</p>
    <p>Título: {{post.title}}</p>
    <p>Completado: {{post.completed}}</p>
  </div>
</ion-content>


<ion-toolbar>
  <ion-title>
    Test API IONIC
  </ion-title>
  <ion-toolbar>

    <ion-content padding>
      <div class="post" *ngFor="let post of arrayPosts">
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
      </div>
    </ion-content>
