<ion-header [translucent]="true"  >
  <ion-toolbar>
    <ion-title>
      Lectura API JSON
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="separador"></div>
  <!-- IMPORTANTE PONER ? en el array. -->
  <p style="margin: auto; margin-bottom: 1rem; width: 60%; background-color: chocolate; padding: 5px; border: 2px solid rgb(0, 0, 0);">
    Número de registros: {{arrayPosts?.length || '0'}}</p>
  <div class="tarjeta" *ngFor="let post of arrayPosts">
    <p>Id: {{post.id}}</p>
    <p>UserId: {{post.userId}}</p>
    <p>Título: {{post.title}}</p>
    <ion-label>Completado: </ion-label>
    <ion-checkbox value="Completado: " checked="{{post.completed}}"></ion-checkbox>
  </div>
</ion-content>
